<%- include('../partials/header.ejs') %>

    <div class="page-container home-page">
        <div class="content-container con-1">
            <h1>Hello <%- user.name %></h1>  
            <% if (collections.length != 0) { %>
                <div class="buttons">
                    <button onclick="showPopUp(event)" class="popup-button create-collection">+ Collection</button>
                    <button onclick="showPopUp(event)" class="popup-button create-form">+ Form</button>
                </div>
            <% } %> 
        </div>
        <div class="content-container con-2">

            <% if (forms.length == 0 && collections.length == 0) { %>
                <div class="empty">

                    <h3>Looks like you have no records!</h3>
                    <img src="/images/img3.jpg" alt="img3">
                    <div class="buttons">
                        <button onclick="showPopUp(event)" class="popup-button create-collection">+ Collection</button>
                        <button onclick="showPopUp(event)" class="popup-button create-form">+ Form</button>
                    </div>
            
                </div>
            <% } else { %>


                <p>Forms</p>
                <div class="forms">
                    
                    <ul>
                        <% forms.forEach((form) => { %>

                            <li>
                                <div>
                                    <p><%- form.name %></p>
                                </div>
                            </li>

                       <% }) %>
                    </ul>
    
                </div>
    
                <p>Collections</p>
                <div class="collections">
                    
                    <% if (collections.length == 0) { %>
    
                        <div class="empty">
    
                            <h3>Looks like you have no records!</h3>
                            <img src="/images/img3.jpg" alt="img3">
                            <div class="buttons">
                                <button onclick="showPopUp(event)" class="popup-button create-collection">+ Collection</button>
                                <button onclick="showPopUp(event)" class="popup-button create-form">+ Form</button>
                            </div>
                    
                        </div>
    
                    <% } else { %>
    
                        <% collections.forEach((collection) => { %>
    
                            <a href="/form/collection/<%- collection._id %>">
                                <div class="item">
                                    <h3><%- collection.name %></h3>
                                </div>
                            </a>
    
                        <% }) %>
    
                    <% }%>
    
                </div>


            <% } %>

        </div>
    </div>
    <div class="popup create-collection" onclick="closePopUp(event)">

        <div class="popup-form create-collection-form">
            <h2>Name your collection</h2>
            <form action="/form/create-collection" method="POST">

                <div class="form-input-container">
                    <input type="text" name="name" required>
                </div>
                

                <input type="submit" class="popup-submit" value="Create">

            </form>
        </div>
    </div>
    <div class="popup create-form" onclick="closePopUp(event)">
        <div class="popup-form create-form-form">
            <h2>Create a new form</h2>
            <form action="/form/create-form" method="POST">

                <div class="form-input-container">
                    <input type="text" name="name" placeholder="Form Name" required>

                    <p>Form columns</p>
                    <div class="field-inputs" id="field-inputs">
                        <input type="text" name="columns" placeholder="e.g. Book title" required>
                    </div>
                    <div class="field-input-buttons">
                        <button tpye="button" onclick="addColumnField(event)">+ Column</button>
                        <button type="button" onclick="removeColumnField(event)">- Remove</button>
                    </div>
                </div>

                <input type="submit" class="popup-submit" value="Create">

            </form>
            
        </div>
    </div>

<%- include('../partials/footer.ejs') %>
