<%- include('../partials/header.ejs') %>

    <div class="page-container form-page">

        <form action="/form/update/<%- form._id %>?_method=PUT" method="POST">

            <div class="content-container con-1">

                <h2><%- form.name %></h2>
                <input type="submit" value="Save">
            </div>
    
            <div class="table-container">
    
                <table id="form-table">
    
                    <tr class="form-columns" id="form-columns">
                        <% form.columns.forEach((column) => { %>
    
                            <td><%- column %></td>
    
                        <% }) %>
                    </tr>
                    
                    <% var i = 0; %>

                    <% form.entries.forEach((entry) => { %>
    
                        <tr>
    
                            <% entry.data.forEach((cell) => { %>
    
                                <td class="editCell"><input type="text" name="existingEntry<%- i %>" value="<%- cell %>"></td>
    
                            <% }) %>
    
                        </tr>
                        <% i++ %>
    
                    <% }) %>
    
                </table>
        
            </div>
    
            <div class="con-2">
                <button onclick="addNewEntry(event)">+ New Entry</button>
                <button onclick="removeEntry(event)">- Remove Entry</button>
            </div>

        </form>

    </div>    


<%- include('../partials/footer.ejs') %>